Perform the following operations on any open source dataset (e.g., data.csv)

Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a
dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable. 2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset. Provide the codes with outputs and explain everything that you do in this step

In [ ]:
# SIMPLE PROGRAM WITHOUT LIBRARIES
import math

nos=[3,5,7,1,2,9,5,7,7]
Sum=sum(nos)
cnt=len(nos)


#MEAN
Mean=Sum/cnt
print("THIS IS MEAN: ",Mean)


#MEDIAN
nos.sort()
print(nos)
 
if len(nos) % 2 == 0:
    median1 = nos[len(nos)//2]
    median2 = nos[len(nos)//2 - 1]
    Median = (median1 + median2)/2
    print("THIS IS MEDIAN: " ,Median)

else:
     Median = nos[len(nos)//2]
     print("THIS IS MEDIAN:",Median)


#STANDARD DEVIATION
SD2=[]
for i in range (len(nos)):
    #total = total + list1[ele]

    SD1=(nos[i]-Mean)
    SD2.append(SD1)
    
print("this is sum of Xi-MEAN",SD2)

SD4=[]
for i in range (len(SD2)):
    SD3=SD2[i]**2
    SD4.append(SD3)
print("THIS IS SQAURE OF ELEMENTS: ",SD4)
SD5=sum(SD4)
print("this is summation Xi-Mean: ",SD5)
SD6=SD5/cnt
SD7=math.sqrt(SD6)


   
    
# SD2=SD1*SD1
# SD4=math.sqrt(SD2)/cnt
# print(SD2)
# print(SD3)
print("THIS IS standard deviation: ",SD7)


#MODE
count = 0
#no = nos[0]
#for loop 
for i in  nos:
    current_freq = nos.count(i)
    if (current_freq > count):
        count = current_freq
        num = i
        
print("THIS IS MODE: ",num)

#VARIANCE

var=SD7**2 #cause variance is square of standard deviation
print("THIS IS VARIANCE: ",var)

THIS IS MEAN:  5.111111111111111
[1, 2, 3, 5, 5, 7, 7, 7, 9]
THIS IS MEDIAN: 5
this is sum of Xi-MEAN [-4.111111111111111, -3.1111111111111107, -2.1111111111111107, -0.11111111111111072, -0.11111111111111072, 1.8888888888888893, 1.8888888888888893, 1.8888888888888893, 3.8888888888888893]
THIS IS SQAURE OF ELEMENTS:  [16.90123456790123, 9.67901234567901, 4.456790123456789, 0.012345679012345592, 0.012345679012345592, 3.567901234567903, 3.567901234567903, 3.567901234567903, 15.12345679012346]
this is summation Xi-Mean:  56.888888888888886
THIS IS standard deviation:  2.5141574442188355
THIS IS MODE:  7
THIS IS VARIANCE:  6.320987654320986

In [ ]:


import pandas as pd
import numpy as np
import math

In [ ]:

df = pd.read_csv("/content/sample_data/User_Data.csv")

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
df.shape

(400, 5)

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:

df['Purchased'].mean()

0.3575

In [ ]:

df['EstimatedSalary'].mean()

69742.5

In [ ]:


df["EstimatedSalary"].mode()

0    72000
Name: EstimatedSalary, dtype: int64

In [ ]:


df["EstimatedSalary"].median()

70000.0

In [ ]:


df["EstimatedSalary"].max()

150000

In [ ]:


df["EstimatedSalary"].min()

15000

In [ ]:

df['EstimatedSalary'].count()

400

In [ ]:

df['EstimatedSalary'].std()

34096.960282424785

In [ ]:

cor = df.corr()
print(cor)

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

<ipython-input-19-24a1344c5fe0>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cor = df.corr()

In [ ]:

df['EstimatedSalary'].var()

1162602700.5012531

In [ ]:
def calculate_all_state_values(df):
  statData = {}
  indexes = ['mean', 'median', 'variance', 'standard deviation', 'minimum', 'maximum', '25% percentile', '50% percentile', '75% percentile', "count"]
  for column in df.columns:
    try:
      columnConvertedValues = pd.to_numeric(df[column])
      mean = df[column].mean()
      median = df[column].median()
      var = df[column].var()
      std = df[column].std()
      min = df[column].min()
      max = df[column].max()
      percentile25 = np.percentile(df[column], 25)
      percentile50 = np.percentile(df[column], 50)
      percentile75 = np.percentile(df[column], 75)
      count = df[column].count()
      statData[column] = [mean, median, var, std, min, max, percentile25, percentile50, percentile75, count]
    except ValueError:
      pass
  stat = pd.DataFrame(statData, index = indexes);
  return stat;

In [ ]:

calculate_all_state_values(df)

                         User ID         Age  EstimatedSalary   Purchased
mean                1.569154e+07   37.655000     6.974250e+04    0.357500
median              1.569434e+07   37.000000     7.000000e+04    0.000000
variance            5.134915e+09  109.890702     1.162603e+09    0.230269
standard deviation  7.165832e+04   10.482877     3.409696e+04    0.479864
minimum             1.556669e+07   18.000000     1.500000e+04    0.000000
maximum             1.581524e+07   60.000000     1.500000e+05    1.000000
25% percentile      1.562676e+07   29.750000     4.300000e+04    0.000000
50% percentile      1.569434e+07   37.000000     7.000000e+04    0.000000
75% percentile      1.575036e+07   46.000000     8.800000e+04    1.000000
count               4.000000e+02  400.000000     4.000000e+02  400.000000

In [ ]:

np.sort(df['EstimatedSalary'])

array([ 15000,  15000,  15000,  15000,  16000,  16000,  17000,  17000,
        17000,  18000,  18000,  18000,  18000,  19000,  19000,  20000,
        20000,  20000,  20000,  20000,  21000,  21000,  22000,  22000,
        22000,  22000,  22000,  23000,  23000,  23000,  23000,  23000,
        23000,  23000,  25000,  25000,  25000,  25000,  26000,  26000,
        26000,  26000,  27000,  27000,  27000,  28000,  28000,  28000,
        28000,  28000,  28000,  29000,  29000,  30000,  30000,  30000,
        30000,  31000,  31000,  32000,  32000,  32000,  32000,  32000,
        33000,  33000,  33000,  33000,  33000,  33000,  34000,  34000,
        34000,  34000,  35000,  35000,  36000,  36000,  36000,  37000,
        38000,  38000,  38000,  39000,  39000,  39000,  39000,  41000,
        41000,  41000,  42000,  42000,  42000,  42000,  42000,  43000,
        43000,  43000,  43000,  43000,  43000,  43000,  44000,  44000,
        44000,  44000,  45000,  45000,  46000,  47000,  47000,  47000,
        47000,  47000,  48000,  49000,  49000,  49000,  50000,  50000,
        50000,  50000,  50000,  50000,  51000,  51000,  51000,  51000,
        52000,  52000,  52000,  52000,  52000,  52000,  53000,  53000,
        53000,  54000,  54000,  54000,  54000,  55000,  55000,  55000,
        55000,  55000,  55000,  55000,  57000,  57000,  57000,  57000,
        57000,  57000,  58000,  58000,  58000,  58000,  58000,  59000,
        59000,  59000,  59000,  59000,  59000,  59000,  59000,  60000,
        60000,  60000,  60000,  60000,  60000,  60000,  61000,  61000,
        61000,  61000,  61000,  61000,  62000,  62000,  63000,  63000,
        63000,  63000,  64000,  65000,  65000,  65000,  65000,  65000,
        65000,  66000,  66000,  68000,  68000,  68000,  69000,  70000,
        70000,  70000,  70000,  71000,  71000,  71000,  71000,  71000,
        71000,  71000,  71000,  71000,  72000,  72000,  72000,  72000,
        72000,  72000,  72000,  72000,  72000,  72000,  72000,  72000,
        73000,  73000,  73000,  74000,  74000,  74000,  74000,  74000,
        74000,  74000,  75000,  75000,  75000,  75000,  75000,  75000,
        75000,  75000,  75000,  76000,  76000,  76000,  77000,  77000,
        77000,  78000,  78000,  79000,  79000,  79000,  79000,  79000,
        79000,  79000,  79000,  79000,  79000,  80000,  80000,  80000,
        80000,  80000,  80000,  80000,  80000,  80000,  80000,  80000,
        81000,  81000,  82000,  82000,  82000,  82000,  82000,  82000,
        83000,  83000,  83000,  83000,  84000,  84000,  84000,  84000,
        85000,  85000,  86000,  86000,  86000,  86000,  86000,  87000,
        87000,  87000,  87000,  88000,  88000,  88000,  88000,  88000,
        88000,  88000,  89000,  89000,  89000,  89000,  89000,  89000,
        90000,  90000,  90000,  90000,  90000,  91000,  93000,  95000,
        96000,  96000,  96000,  96000,  97000,  99000, 100000, 101000,
       102000, 104000, 104000, 104000, 104000, 105000, 106000, 107000,
       107000, 107000, 108000, 108000, 108000, 108000, 112000, 112000,
       112000, 113000, 113000, 113000, 114000, 115000, 116000, 117000,
       117000, 117000, 118000, 118000, 118000, 119000, 120000, 122000,
       122000, 123000, 125000, 125000, 126000, 129000, 130000, 130000,
       131000, 131000, 133000, 133000, 134000, 134000, 134000, 134000,
       135000, 135000, 137000, 137000, 138000, 138000, 139000, 141000,
       141000, 142000, 143000, 143000, 144000, 144000, 144000, 144000,
       146000, 146000, 147000, 148000, 149000, 149000, 150000, 150000])