1. Implement Simple Naïve Bayes classification algorithm using Python/R on iris.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall on
the given dataset.

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Load the Iris dataset
iris = load_iris()
X = iris.data
y = iris.target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Train the Naive Bayes classifier
model = GaussianNB()
model.fit(X_train, y_train)

# Evaluate the model on the test set
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

# Make predictions on new samples
sample = [[5.1, 3.5, 1.4, 0.2]]
prediction = model.predict(sample)
print('Prediction:', prediction)

Accuracy: 0.9666666666666667
Prediction: [0]

In [ ]:


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:

df = pd.read_csv("/content/sample_data/Iris.csv")

In [ ]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:

df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

Train Test Split#

In [ ]:

from sklearn.model_selection import train_test_split

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:4], df.iloc[:,-1], test_size=0.2)

In [ ]:

x_train.shape

(120, 4)

MODEL TRAINING

In [ ]:

from sklearn.naive_bayes import GaussianNB
     

gnbc = GaussianNB()
     

gnbc.fit(x_train, y_train)

GaussianNB()

In [ ]:

gnbc.predict(x_test)

array(['Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype='<U15')

In [ ]:
prediction = {"Actual":y_test, "prediction":gnbc.predict(x_test)}
predictionDf = pd.DataFrame(prediction)
predictionDf

              Actual       prediction
123   Iris-virginica   Iris-virginica
130   Iris-virginica   Iris-virginica
133   Iris-virginica   Iris-virginica
85   Iris-versicolor  Iris-versicolor
2        Iris-setosa      Iris-setosa
20       Iris-setosa      Iris-setosa
111   Iris-virginica   Iris-virginica
82   Iris-versicolor  Iris-versicolor
24       Iris-setosa      Iris-setosa
71   Iris-versicolor  Iris-versicolor
25       Iris-setosa      Iris-setosa
44       Iris-setosa      Iris-setosa
66   Iris-versicolor  Iris-versicolor
51   Iris-versicolor  Iris-versicolor
38       Iris-setosa      Iris-setosa
54   Iris-versicolor  Iris-versicolor
12       Iris-setosa      Iris-setosa
80   Iris-versicolor  Iris-versicolor
121   Iris-virginica   Iris-virginica
60   Iris-versicolor  Iris-versicolor
92   Iris-versicolor  Iris-versicolor
58   Iris-versicolor  Iris-versicolor
48       Iris-setosa      Iris-setosa
74   Iris-versicolor  Iris-versicolor
4        Iris-setosa      Iris-setosa
43       Iris-setosa      Iris-setosa
88   Iris-versicolor  Iris-versicolor
10       Iris-setosa      Iris-setosa
7        Iris-setosa      Iris-setosa
11       Iris-setosa      Iris-setosa

METRICS: Accuracy Score

In [ ]:




from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, precision_score, recall_score

predict = gnbc.predict(x_test)

accuracy_score(y_test, predict)

1.0

confusion matrix

In [ ]:
confusion_matrix(y_test, predict)

array([[13,  0,  0],
       [ 0, 12,  0],
       [ 0,  0,  5]])

Recall Score

In [ ]:

recall_score(y_test, predict, pos_label='positive', average='micro')

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1396: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

1.0

Precision Score

In [ ]:

precision_score(y_test, predict,pos_label='positive', average='micro')

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1396: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

1.0

ERROR RATE

In [ ]:

error_rate = 1-accuracy_score(y_test, predict)
error_rate

0.0

F1 SCORE

In [ ]:

f1_score(y_test, predict, average='micro', pos_label='positive')

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1396: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

1.0